.banner-container-ven {
    position: relative;
    height: 500px;
    width: 100%;
  }
  
  .banner-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgb(21 174 3 / 81%) 0%, rgb(0 0 0 / 77%) 100%);
  }
  
  .banner-text {
    position: relative;
    z-index: 1;
    text-align: left;
    margin-top: 100px;
    color: white;
    padding: 2% 4%;
  }
  